<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions %>">
    <button type="submit">Search</button>
</form>

<br>

<% authors.forEach(author=>{ %>
    <ul style="list-style-type: circle;">
        <li> <%= author.name %>  </li>
    </ul>
<% }) %>